---
layout: base
---
{% if page.cover_image %}
<div class="blog-cover" style="background-image:url(/images/{{ page.cover_image }});">
</div>
{% endif %}
<article>

    <div class="container">
        <header id="top">
            <div class="meta">
                By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            <p>
                <a href="#top">&uarr; Back to top</a>
            </p>
        </section>

        <footer>
            <address>
                <p>
                    {% if page.author.image %}<img src="/images/{{ page.author.image }}">{% endif %}
                    Written by 
                    <strong>
                    {% if page.author.twitter %}
                    <a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">
                        {{ page.author.name }}
                    </a>
                    {% else %}
                    {{ page.author.name }}
                    {% endif %}
                    </strong><br />
                {% if page.author.bio %}<span class="muted">{{ page.author.bio }}</span>{% endif %}
                </p>
            </address>
            <section class="tags" role="tags">
                {% if page.category %}
                    <ul class="list-inline tags">
                        <li><strong>CATEGORY:</strong></li>
                        <li>{{page.category}}</li>
                    </ul>
                {% endif %}
                {% if page.tags %}
                    <ul class="list-inline tags">
                        <li><strong>TAGS:</strong></li>
                        {% for tag in page.tags %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>

        </footer>

        <section class="email-signup lighter text-center">
            <p>
                Keep up to date with new posts by joining our mailing list:
            </p>
            <p>
                <a href="/mailing-list" class="btn btn-outline green">Subscribe Now</a>
            </p>
        </section>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
